$metadata = Invoke-WebRequest -uri "http://169.254.169.254/latest/dynamic/instance-identity/document" -UseBasicParsing | Select-Object -Expand Content | ConvertFrom-Json
$domain =  '{"fault_domain":{"region":{"name": "' + $metadata.region + '"},"zone":{"name": "' + $metadata.availabilityZone + '"}}}'
Write-Output $domain
