# DC/OS System Requirements as of https://docs.mesosphere.com/1.11/installing/production/system-requirements/
- name: "Finding the provider / environment running on (AWS, GCP, AzureRM or, if nothing detected, on premise)"
  # AWS 4th gen or earlier, Xen based types:
  #   looking at `product_version` or `bios_verion`.
  # AWS 5th gen HVM based instance types:
  #   looking at `system_vendor`.
  set_fact:
    dcos_environment: >-
        {{
          (
            ('amazon' in ansible_product_version) or
            ('amazon' in ansible_bios_version) or
            ('EC2' in ansible_system_vendor)
          ) | ternary('ec2', (('Google' in ansible_system_vendor) | ternary('gcp', (('Microsoft Corporation' in ansible_system_vendor) | ternary('azurerm', 'onprem')))))
        }}
  changed_when: false

- name: "Gather OS specific variables"
  include_vars: "{{ item }}"
  with_first_found:
    - "vars/{{ ansible_distribution }}{{ ansible_distribution_major_version }}.yml"
    - "vars/generic.yml"
  tags: vars

- name: "Choosing the time sync package which should be present"
  set_fact:
    time_sync_package: "{{ ('onprem' in dcos_environment) | ternary(onprem_time_sync_package, cloud_time_sync_package) }}"
  changed_when: false

- name: "{{ time_sync_package }} installed"
  yum:
    name: "{{ time_sync_package }}"
    update_cache: true
    state: present
  register: time_sync_package_install
  until: time_sync_package_install is success
  retries: 3
  delay: 60

- name: "Populate service facts"
  service_facts: {}

- name: "Disabled firewalld (Only on some platforms)"
  systemd:
    name: firewalld
    state: stopped
    enabled: false
  when: "'firewalld.service' in ansible_facts.services"

- name: "Disabled DNSmasq (Only on some platforms)"
  systemd:
    name: dnsmasq
    state: stopped
    enabled: false
  when: "'dnsmasq.service' in ansible_facts.services"

- block:
  - name: Check time sync (chrony)
    shell: |
      chronyc tracking | awk '/Leap status/ {print $4}' | grep -qv "Not synchronised"
    register: chronyc_time_sync
    changed_when: false
    when: "'chronyd.service' in ansible_facts.services and ('dcos-mesos-master.service' not in ansible_facts.services or 'dcos-mesos-slave.service' not in ansible_facts.services) and time_sync_package == 'chrony' and dcos_timesync"

  - name: "Sync time with chronyc"
    shell: "chronyc -a 'burst 4/4' && sleep 5 && chronyc -a makestep"
    when: "chronyc_time_sync is defined and chronyc_time_sync.rc is defined and chronyc_time_sync.rc == 1"
    register: time_sync_done_chronyc
  rescue:
    - name: Output
      fail:
        msg: >
          ABORT! Could not timesync with chronyc'.
          Please make sure that the setup of chronyd is correct!

- block:
  - name: Check time sync (ntp)
    shell: |
      ntpstat | grep -qv 'unsynchronised'
    register: ntp_time_sync
    changed_when: false
    when: "'ntpd.service' in ansible_facts.services and ('dcos-mesos-master.service' not in ansible_facts.services or 'dcos-mesos-slave.service' not in ansible_facts.services) and time_sync_package == 'ntp' and dcos_timesync"

  - name: Stop service ntpd
    service:
      name: ntpd
      state: stopped
    when: "ntp_time_sync is defined and ntp_time_sync.rc is defined and ntp_time_sync.rc == 1"

  - name: "Sync time with ntpd"
    shell: "ntpd -gq"
    when: "ntp_time_sync is defined and ntp_time_sync.rc is defined and ntp_time_sync.rc == 1"
    register: time_sync_done_ntpd

  - name: Start service ntpd
    service:
      name: ntpd
      state: started
    when: "ntp_time_sync is defined and ntp_time_sync.rc is defined and ntp_time_sync.rc == 1"
  rescue:
    - name: Output
      fail:
        msg: >
          ABORT! Could not timesync with ntpd'.
          Please make sure that the setup of ntpd is correct!

- name: Check if docker is already installed
  yum:
    list:
      - docker
      - docker-ce
  # If not installed yum_list_docker.results[*].yumstate != installed
  register: yum_list_docker

- name: "Docker CE (stable) repository (Only non-EL systems)"
  yum_repository:
    name: docker-ce
    description: Docker CE Repository
    baseurl: "https://download.docker.com/linux/centos/7/$basearch/stable"
    enabled: yes
    gpgcheck: yes
    gpgkey: https://download.docker.com/linux/centos/gpg
  when: ansible_distribution == 'CentOS' and yum_list_docker.results | selectattr("yumstate", "match", "installed") | list | length == 0

- block:
  - name: "Finding RHEL extras repository name (Only EL systems)"
    shell: |
      cat /etc/yum.repos.d/redhat* | grep -E '^\[.*extras.*\]$' | grep -vE 'debug|source' | tr -d '[|]'
    register: rhel_exras_repo_name
    changed_when: false
    when: ansible_distribution == 'RedHat'

  - name: "Docker installed"
    yum:
      name: "{{ dcos_docker_pkg_name }}"
      update_cache: true
      enablerepo: "{{ rhel_exras_repo_name.stdout | default('') }}"
      state: present
    register: dcos_yum_docker_install
    until: dcos_yum_docker_install is success
    retries: 3
    delay: 60
  rescue:
    - name: Output
      fail:
        msg: >
          ABORT! Could not install '{{ dcos_docker_pkg_name }}'. Please make sure RHEL *extras* repository is availble!
      when: ansible_distribution == 'RedHat'
    - name: Output
      fail:
        msg: "ABORTING! Could not install '{{ dcos_docker_pkg_name }}'."
      when: ansible_distribution != 'RedHat' and yum_list_docker.results | selectattr("yumstate", "match", "installed") | list | length == 0

- name: "Docker running (Only on some platforms)"
  systemd:
    name: "{{ dcos_docker_service_name | default('docker') }}"
    state: started
    enabled: true
  when: "'podman' not in (dcos_docker_service_name | default('docker'))"

- name: "Install EPEL repositories for required packages"
  yum:
    name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
    state: present
  register: dcos_yum_epel_install
  until: dcos_yum_epel_install is success
  retries: 3
  delay: 60

- block:
  - name: "Install required system packages"
    yum:
      name: "{{ dcos_prereq_packages }}"
      state: present
    register: dcos_yum_system_packages_install
    until: dcos_yum_system_packages_install is success
    retries: 3
    delay: 60
  rescue:
    - name: Output
      fail:
        msg: >
          ABORT! Could not install '{{ dcos_prereq_packages }}'.
          Please make sure the systems repositories are enabled and reachable!

- name: "SELinux '{{ dcos['selinux_mode'] | default('permissive') }}'"
  selinux:
    policy: targeted
    state: "{{ dcos['selinux_mode'] | default('permissive') }}"

- name: "Ensure groups 'nogroup' and 'docker' exist"
  group:
    name: "{{ item }}"
    state: present
  with_items:
    - nogroup
    - docker
