$myIp = Invoke-RestMethod -Method GET -Uri http://169.254.169.254/metadata/instance/network/interface/0/ipv4/?api-version=2017-04-02 -Headers @{"Metadata"="True"}
Write-Output $myIp.IpAddress.publicIpAddress
